<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TravelThruAir</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- <servlet> <servlet-name>home</servlet-name> <servlet-class>com.rgdgr8.travel_thru_air.OffersServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>home</servlet-name> <url-pattern>/</url-pattern> 
		</servlet-mapping> -->
	<context-param>
		<param-name>DB_DRIVER</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/AirTravel</param-value>
	</context-param>
	<context-param>
		<param-name>DB_USER</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASS</param-name>
		<param-value>Lennon@1981</param-value>
	</context-param>
	
	<listener>
	<listener-class>com.rgdgr8.travel_thru_air.ConnectingListener</listener-class>
	</listener>
</web-app>